body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.container {
    text-align: center;
}

#table_div {
    display:flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
}

p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}

table.data {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table.data th, table.data td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table.data th {
    background-color: rgb(43, 43, 77);
    color: white;
}

#sim_form {
    font-size: 18px;
}